<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/styles/style.css" />
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<title>Water heater simulator</title>
	</head>
	<body>
		<div id="header">
			<h1>Water heater simulation</h1>
			<h3>Technical data:</h3>
			<ul>
				<li><b>Power:</b> 18000 W</li>
				<li><b>Maximum water temperature:</b> 55 °C</li>
				<li><b>Maximum water flow:</b> 8 l/min</li>
				<li><b>Max. water flow at 55 °C setting:</b> 5.8 l/min</li>
			</ul>
		</div>
		<div id="config">
			<form name="startForm">
				<label for="temperatureSlider">Water temperature: [°C]</label
				><br />
				<input
					type="range"
					min="10"
					max="55"
					value="45"
					name="temperatureSlider"
					id="tempRange"
				/>
				<label id="tempLabel"></label><br />
				<p><b>Regulator:</b></p>
				<label for="probe">Czas próbkowania [s]: </label><br />
				<input type="number" value="0.1" name="probe" id="probe" /><br />
				<label for="gain">Wzmocnienie: </label><br />
				<input type="number" value="0.9" name="gain" id="gain" /><br />
				<label for="integral">Czas zdwojenia: </label><br />
				<input type="number" value="50" name="integral" id="integral" />
				<br /><br />
				<button type="button" onclick="startSim()">Submit</button>
			</form>
		</div>
		<div id="check" style="display: none">
			<h3>Choose which graphs you want to see:</h3>
			<input
				type="checkbox"
				checked
				name="tempBox"
				id="tempBox"
				value="Temperature"
				onchange="toggleDiv('tempGraph')"
			/>
			<label for="tempBox">Water temperature graph</label><br />
			<input
				type="checkbox"
				checked
				name="voltBox"
				id="voltBox"
				value="Voltage"
				onchange="toggleDiv('powerGraph')"
			/>
			<label for="powerBox">Heater power graph</label><br />
			<input
				type="checkbox"
				checked
				name="combBox"
				id="combBox"
				value="Combined"
				onchange="toggleDiv('combinedGraph')"
			/>
			<label for="powerBox">Heater power graph</label><br />
			<input
				type="checkbox"
				checked
				name="flowBox"
				id="flowBox"
				value="Water flow"
				onchange="toggleDiv('flowGraph')"
			/>
			<label for="flowBox">Water flow graph</label><br />
		</div>
		<div class="graphs" id="tempGraph"></div>
		<div class="graphs" id="powerGraph"></div>
		<div class="graphs" id="combinedGraph"></div>
		<div class="graphs" id="flowGraph"></div>
		<script src="../static/scripts/script.js"></script>
	</body>
</html>
