<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/styles/style.css" />
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="../static/scripts/script.js"></script>
		<title>Water heater simulator</title>
	</head>
	<body>
		<div id="header">
			<h1>Water heater simulation</h1>
		</div>
		<div id="config">
			<p>Set simulation parameters</p>
			<form name="startForm">
				<label for="simulationTime">Simulation time: [s]</label><br />
				<input
					type="number"
					value="3600"
					name="simulationTime"
					id="simulationTime"
				/><br />
				<label for="heaterPower">Heater power: [W]</label><br />
				<input
					type="number"
					value="1500"
					name="heaterPower"
					id="heaterPower"
				/><br />
				<label for="waterCapacity">Water capacity: [l/kg]</label><br />
				<input
					type="number"
					value="50"
					name="waterCapacity"
					id="waterCapacity"
				/><br />
				<label for="temperatureSet">Water temperature: [°C]</label
				><br />
				<input
					type="number"
					value="45"
					name="tempSet"
					id="tempSet"
				/><br />
				<button type="button" onclick="startSim()">Submit</button>
			</form>
		</div>
		<div id="check" style="display: none">
			<h3>Choose which graphs you want to see:</h3>
			<input
				type="checkbox"
				checked
				name="tempBox"
				id="tempBox"
				value="Temperature"
				onchange="toggleDiv('tempGraph')"
			/>
			<label for="tempBox">Water temperature graph</label><br />
			<input
				type="checkbox"
				checked
				name="voltBox"
				id="voltBox"
				value="Voltage"
				onchange="toggleDiv('voltGraph')"
			/>
			<label for="voltBox">Voltage graph</label><br />
			<input
				type="checkbox"
				checked
				name="powerBox"
				id="powerBox"
				value="Power"
				onchange="toggleDiv('powerGraph')"
			/>
			<label for="powerBox">Heater power graph</label><br />
			<input
				type="checkbox"
				checked
				name="flowBox"
				id="flowBox"
				value="Water flow"
				onchange="toggleDiv('flowGraph')"
			/>
			<label for="flowBox">Water flow graph</label><br />
			<input
				type="checkbox"
				checked
				name="eBox"
				id="eBox"
				value="E"
				onchange="toggleDiv('eGraph')"
			/>
			<label for="eBox">E graph</label><br />
		</div>
		<div class="graphs" id="tempGraph"></div>
		<div class="graphs" id="voltGraph"></div>
		<div class="graphs" id="powerGraph"></div>
		<div class="graphs" id="flowGraph"></div>
		<div class="graphs" id="eGraph"></div>
	</body>
</html>
