body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #ffffff;
}

div {
	background-color: #ffffff;
}

#config {
	padding: 10px;
}

#header {
	padding: 10px 16px;
	color: #ebdede;
	background: #bb2828;
}
